<div class="auth-wrapper d-flex flex-column h-100 bg-white">
  <div class="row flex-grow-1">
    <div class="col-xs-12 col-lg-6 pt-5 pr-lg-5 pb-5">
      <div class="row mr-lg-0">
        <div class="col-xs-12 col-lg-6"></div>
        <form class="col-xs-12 col-lg-6 form-general" autocomplete="off">
          <div class="form-row align-items-center">
            <div class="col">
              <div class="input-group mb-3">
                <input type="text" name="UserName" autocomplete="nope" class="form-control" [(ngModel)]="username" placeholder="Kullanıcı Adı" (focusin)="input=usernamefield" #usernamefield="ngModel"/>
                <div class="input-group-append">
                  <div class="input-group-text remember-check pl-0 pr-0">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                        HATIRLA
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="col">
              <div class="input-group mb-3">
                <input type="password" name="Password" autocomplete="nope" class="form-control" [(ngModel)]="password" placeholder="Şifre" (focusin)="input=passwordfield" #passwordfield="ngModel"/>
                <div class="input-group-append">
                  <div class="input-group-text remember-check pr-0">
                    <a href="javascript:;">UNUTTUM</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <a href="javascript:;" (click)="toggleVirtualKeyboard(keyboard)"><i class="fa fa-keyboard"></i> Sanal Klavye</a>
            <div class="simple-keyboard" virtualKeyboard [input]="input" #keyboard></div>
          </div>
          <div class="form-row">
            <div class="col">
              <button type="button" class="btn btn-primary form-control mb-2" (click)="login()">Giriş</button>
              <a href="javascript:;" class="btn btn-outline-primary form-control text-left"><i class="fa fa-signature"></i> E-imza İşlemleri</a>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 login-back pt-5 pb-5 pl-lg-5">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h2>Dijital Dünyamıza <br> Adım Atmak İçin...</h2>
          <p>
            Dijital dünyamızın avantajlarını yakalamak bir tık uzakta!
            Hemen hesap açma başvurusu yapın ayrıcalıklardan
            yararlanın.
          </p>
          <a href="javascript:;" class="btn btn-warning">Başvuru Yap <i class="far fa-arrow-alt-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
