<div class="wrapper {{isLoggedIn?'logged-in':''}}">
  <app-header></app-header>
  <div class="content-wrapper d-flex flex-column">
    <div class="container-fluid d-flex flex-column flex-grow-1">
      <div class="row flex-grow-1">
        <div class="{{isLoggedIn?'col-xs-12 col-lg-8 pt-3':'col-12'}}">
          <router-outlet></router-outlet>
        </div>
        <div class="col-xs-12 col-lg-4 pt-3" *ngIf="isLoggedIn">
          <div class="card">
            <div class="card-body">
              <app-calendar [events]="events"></app-calendar>
            </div>
          </div>
          <div class="card">
            <div class="card-header bordered">
              Yaklaşan Ödemeler
            </div>
            <div class="card-body p-0">
              <table class="table table-striped table-list">
                <tbody>
                  <tr>
                    <td class="p-0"></td>
                    <td class="p-1"><strong>29.01.2020</strong></td>
                    <td class="p-1">Kredi Ödemesi</td>
                    <td class="p-0 text-right">
                      <a href="javascript:;" class="btn btn-primary btn-sm">Şimdi Öde</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="p-0"></td>
                    <td class="p-1"><strong>18.02.2020</strong></td>
                    <td class="p-1">Tanımlı SGK Ödemesi</td>
                    <td class="p-0 text-right">
                      <a href="javascript:;" class="btn btn-primary btn-sm">Şimdi Öde</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
