<ng-template #item1>
  <div class="card">
    <div class="card-header">
      Varlıklarım
    </div>
    <div class="card-body">
      <canvas baseChart
              [options]="{ legend: { position: 'left' } }"
              [data]="chartData"
              [labels]="chartLabels"
              [chartType]="chartType">
      </canvas>
    </div>
  </div>
</ng-template>
<ng-template #item2>
  <div class="card">
    <div class="card-header">
      Kartlarım
    </div>
    <div class="card-body">
      <div id="carousel1" class="carousel slide" data-interval="false" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active account-info-box">
            <div class="d-flex pl-3 pr-3">
              <img src="assets/cc-placeholder.png" height="40">
              <div class="ml-2">
                <strong class="">Ticari Bonus</strong><br>
                <strong>1111 **** **** 1111</strong>
              </div>
            </div>
            <div class="summary">
              <div class="d-flex justify-content-between mt-2">
                <span class="text-bold">Kullanılabilir Limit</span><span>11,500.00₺</span>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <span class="text-bold">Son Ödeme Tarihi</span><span>20/02/2020</span>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <span class="text-bold">Extra Borcu</span><span class="text-danger text-bold">7,500.00₺</span>
              </div>
              <a href="javascript:;" class="btn btn-outline-primary btn-sm form-control mt-3">Daha fazla &raquo;</a>
            </div>
          </div>
          <div class="carousel-item account-info-box">
            <div class="d-flex pl-3 pr-3">
              <img src="assets/cc-placeholder.png" height="40">
              <div class="ml-2">
                <strong class="">Ticari Banka Kartı</strong><br>
                <strong>2222 **** **** 2222</strong>
              </div>
            </div>
            <div class="summary">
              <div class="d-flex justify-content-between mt-2">
                <span class="text-bold">Kullanılabilir Limit</span><span>3500₺</span>
              </div>
              <a href="javascript:;" class="btn btn-outline-primary btn-sm form-control mt-3">Daha fazla &raquo;</a>
            </div>
          </div>
        </div>
        <div class="carousel-control-prev" data-target="#carousel1" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </div>
        <div class="carousel-control-next" data-target="#carousel1" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #item3>
  <div class="card">
    <div class="card-header">
      Kredilerim
    </div>
    <div class="card-body">
      <div id="carousel2" class="carousel slide" data-interval="false" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active account-info-box">
            <div class="pl-3 pr-3">
              <div class="text-center">
                <strong>Ticari Finansman</strong><br>
                <i>11111 Taksim Şubesi</i>
              </div>
            </div>
            <div class="summary">
              <div class="progress mt-1">
                <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <i class="mb-2">50% ödendi</i>
              <div class="d-flex justify-content-between mt-2">
                <span class="text-bold">Kredi Miktarı</span><span>30,000.00₺</span>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <span class="text-bold">Sonraki Taksit Tarihi</span><span class="text-danger text-bold">20/02/2020</span>
              </div>
              <a href="javascript:;" class="btn btn-outline-primary btn-sm form-control mt-3">Daha fazla &raquo;</a>
            </div>
          </div>
          <div class="carousel-item account-info-box">
            <div class="pl-3 pr-3">
              <div class="text-center">
                <strong class="">Ticari Finansman</strong><br>
                <i>222222 Bakırköy Şubesi</i>
              </div>
            </div>
            <div class="summary">
              <div class="progress mt-1">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <i class="mb-2">25% ödendi</i>
              <div class="d-flex justify-content-between mt-2">
                <span class="text-bold">Kredi Miktarı</span><span>20,000.00₺</span>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <span class="text-bold">Sonraki Taksit Tarihi</span><span class="text-danger text-bold">20/02/2020</span>
              </div>
              <a href="javascript:;" class="btn btn-outline-primary btn-sm form-control mt-3">Daha fazla &raquo;</a>
            </div>
          </div>

        </div>
        <div class="carousel-control-prev" data-target="#carousel2" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </div>
        <div class="carousel-control-next" data-target="#carousel2" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #item4>
  <div class="card">
    <div class="card-header">
      Teminat Mektubu Vadesi Hatırlatma
    </div>
    <div class="card-body">
      <i style="color:#ccc">Gösterilecek ürününü bulunmamaktadır.</i>
    </div>
  </div>
</ng-template>
<ng-template #item5>
  <div class="card">
    <div class="card-header">
      Düzenli Ödemeleriniz
    </div>
    <div class="card-body">
      <i style="color:#ccc">Gösterilecek ürününü bulunmamaktadır.</i>
    </div>
  </div>
</ng-template>
<ng-template #item6>
  <div class="card">
    <div class="card-header">
      Bankadaki Müşteri Çekleriniz
    </div>
    <div class="card-body">
      <i style="color:#ccc">Gösterilecek ürününü bulunmamaktadır.</i>
    </div>
  </div>
</ng-template>
<div class="dashboard container-fluid">
  <div class="row drag-items" cdkDropListGroup>
    <ng-container *ngFor="let dragitem of dragItems;let i=index">
      <div class="drag-item col-xs-12 col-sm-6 col-lg-4" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="{item:dragitem,index:i}" (cdkDropListDropped)="drop($event)">
        <div class="drag-item-inner" cdkDrag [style]="'min-height:100%'">
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          <ng-container *ngTemplateOutlet="this[dragitem]"></ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>


