.dashboard{
  &.container-fluid{
    padding:0;
  }
  .drag-items{
    margin:-0.5rem;
    display: flex; padding:0;
    .drag-item{
      position: inherit;
      margin:0; padding:0.5rem; margin:0;
      min-height: 13rem;
      .drag-item-inner{ display: flex; flex-direction: column; }
    }
  }
  .card{
    min-height:13rem;
    height: 100%;
    flex-grow: 1;
    .card-header{
      cursor:move;
    }
  }
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drag-items.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

