$enable-rounded:false;
$blue: #18519f;
$yellow: #f7931e;
$btn-border-width:2px;

$card-cap-bg: transparent;
$card-spacer-y: .75rem !default;
$card-spacer-x: .75rem !default;

$carousel-control-color: #0f3567;
