/* You can add global styles to this file, and also import other style files */
@import './_variables.scss';

html,body{ min-height:100%; min-height: 100vh; min-height: calc(var(--vh, 1vh) * 100); }

.btn{
  font-weight: bold;
}

.wrapper{
  min-height: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  display:flex; flex-direction: column;
  background: #f5f6f8;
  .content-wrapper{
    flex-grow: 1;
    &>.container-fluid{
    }
  }
}

.header{
  background-color:#17519e;
  .logo{
    img {
      fill:#fff!important;
      height: 4em;
    }
  }
}

.logged-in{
  .header .logo img{
      height:3em;
  }
}

.form-group, .input-group{
  border-bottom:1px solid #709bd2;
  outline: none;
  .form-control{
    border:0px none;
    padding-left:0;
    &:focus{
      box-shadow: none;
    }
  }
  .remember-check{
    border:none;
    background:none;
    font-weight: bold;
    label{
      cursor:pointer;
    }
    a{
      color:#495057;
      text-decoration: none;
    }
    input{
      border:0;
      margin-top:0.3rem;
      opacity: 0;
      &:checked{
        opacity:1;
      }
    }
  }
}

.simple-keyboard{
  position: absolute; min-width: 400px; max-width: 500px; z-index:100;
}

a{
  color: $blue; text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.top-navigation{
  padding:0;
  height:100%;
  display: inline-block;
  ul, li{
    height: 100%;
  }
  .nav-item{
    & > a{
      min-width: 5em;
      border-left:1px solid #12417e;
      display: flex;
      height: 100%;
      align-items: center;
      color:#fff;
      text-align: center;
      i {
        margin:auto;
        font-size: 1.3em;
        align-self: center;
      }
      &:hover{
        background: #12417e;
      }
    }
    .user{
      font-weight: bold;
      &:after{
        margin-left:0.75rem;
      }
    }
    .user-pic{
      display: inline-block;
      padding:0.3rem;
      margin-right: 0.5rem;
      background: #0f3567;
      min-width: 2.5em;
    }
  }

}
.main-navigation{
  background: #14478b;
  .navbar{
    background:#14478b;
    padding:0;
    .nav-item{
      border-right:1px solid #0f3567;
      &:first-child{
        border-left:1px solid #0f3567;
      }
      &.active, &:hover{
        background:#0f3567;
        color:#fff;
      }
      .nav-link{
        color:#fff;
      }
    }
    .nav-link{
      padding:12px;
    }
    .navbar-toggler{
      border: 0px;
      line-height: 1.8em;
    }
    .home-link{
      >span{
        display:none;
      }
    }
  }
  .navbar-collapse.show,.navbar-collapse.collapsing{
    .nav-item {
      border-right: 0px none;
      &:first-child {
        border-left: 0px none;
      }
    }
    .home-link{
      >i{
        display: none;
      }
      >span{
        display:inline-block;
      }
    }
  }
}

.main-search{
  height:100%;
  max-height: 3rem;
  background: rgba(255,255,255,0.7);
  *{
    border:0px none;
    height:100%;
    background: transparent;
    outline:none;
    color:#0f3567;
    &:focus{
      outline:none;
      box-shadow: none;
      background: none;
    }
  }
  .btn i{
    line-height:2em;
  }

}

.customer-support{
  position:fixed;
  z-index: 999;
  bottom:0;
  right:1em;
  border-bottom-color:#b96e16;
  i{
    font-size:1.5em;
    vertical-align: middle;
    margin-right:0.45em;
  }
  @media screen and (max-width: 600px) {
    bottom:3.5em;
    right:0;
    &>span{
      display: none;
    }
  }
}

.card{
  border:0px none;
  border-top:4px solid $yellow;
  border-bottom:1px solid #c4c5c6;
}

.card-header{
  border-bottom:0px none;
  color:#0f3567;
  font-weight: bold;
  &.bordered{
    border-bottom: 1px solid #dbdbdb;
  }
}

.table-list{
  tr{
    td:first-child{
      width:5px; background: #a0a5a8;
    }
    &:nth-of-type(even) {
      td:first-child{
        background: #1b252f;
      }
    }
  }
}

.carousel{
  .carousel-control-prev,.carousel-control-next{
    width:0.5rem;
    max-height: 3rem;
  }
  .carousel-control-prev-icon,.carousel-control-next-icon{
    width:10px; height:10px;
  }
}

.text-bold{
  font-weight: bold;
}

.account-info-box{
  .summary{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size:0.8em;
  }
}
