<div class="auth-wrapper d-flex flex-column h-100">
  <div class="row flex-grow-1">
    <div class="col-xs-12 col-lg-4 pt-3">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-check-circle success-icon"></i>
        </div>
        <div class="card-body">
          İnternet Şubesi'ne girişiniz için; cep telefonunuza gönderilen <strong>1DSP-21AN</strong> referans numaralı bildirime tıklayarak onaylayınız. İzlemeniz gereken adımları görmek için <a href="javascript:;">tıklayın</a>.
          <br><br>
          * Cep telefonunuza bildirim ulaşmadıysa izlemeniz gereken adımları görmek için <a href="javascript:;">tıklayın</a>.
          <br><br>
          Cep telefonu onayı yerine SMS doğrulama kullanmak için <a href="javascript:;">buraya</a> tıklayınız. SMS doğrulamaya geçtikten sonra, bir sonraki mobil bankacılık giriş işleminizde yeniden aktivasyon yapmanız gerekecektir.
          <br><br>
          Ekran otomatik olarak yüklenecektir. Lütfen bu pencereyi kapatmayınız.
          Son Giriş Tarihi: 17/01/2021 05:49
          İnternet ve Çağrı Merkezindeki hatalı girişleri görmek için <a href="javascript:;">tıklayın</a>.

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-8 pt-3">
      <div class="card mb-3">
        <div class="card-body">
          <div class="auth-pic">
            <img src="assets/auth-pic.jpg">
            <span>
              <strong>Mesajınız:</strong><br/>
              ilkköpeğim
            </span>
          </div>
          <br>
          <strong>ÖNEMLİ</strong><br>
          Üstte görmüş olduğunuz resim ve mesajın size ait olduğundan emin değilseniz;<br> lütfen şifrenizi girmeden <strong>0850 000 0 000</strong> Telefon Şubesi'ni arayınız.
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="referance-id bg-success text-white text-center p-3 mb-4">
            Referans No: <strong>1DSP-21AN</strong>
          </div>
          <div class="text-center">
            <div class="reference-timer mb-3" (click)="userLoggedIn()">
                <div class="progress mx-auto">
                  <span class="progress-left">
                        <span class="progress-bar border-primary" [style]="'transform:rotate('+(per>=50?deg:(per<50?180:0))+'deg)'"></span>
                  </span>
                  <span class="progress-right">
                        <span class="progress-bar border-primary" [style]="'transform:rotate('+(per<=50?180+deg:0)+'deg)'"></span>
                  </span>
                  <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    {{min}}:{{sec}}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
