<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 pt-3 pb-3">
        <span class="logo"><img src="./assets/orginlogo.svg"></span>
      </div>
      <div class="col-9 text-right pr-0">
        <app-top-navigation></app-top-navigation>
      </div>
    </div>
    <app-main-navigation></app-main-navigation>
  </div>
</header>
